.bibbase_group {
    background-color : inherit;
    color: $theme-color;
    border-bottom: 3px solid $theme-color;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-left: 25px;
    padding-left: 10px;
    margin-right: 40px;
}
