{% extends "page.html" %}
{% block page_header %}
  {{ super() }}
  <h5 class=post-affiliation>{{page.affiliation}}</h5>
{% endblock %}

{% block page_content %}
{% if page.profile %}
  <div class="profile col one {{ page.align }}">
    {% if page.image %}
      <img class="one" src="{{ page.image }}">
    {% endif %}
    {% if page.address %}
      <div class="address">
        {{ page.address }}
      </div>
    {% endif %}
  </div>
{% endif %}

{{ page.content }}

{% endblock %}