{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<!-- <section id="content" class="body">-->
  <div class="post">
  <header class="post-header">
   {% include "post_meta.html" %} 
  </header>
  <div class="post-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
<!-- </section>-->
</div>
{% endblock %}
