<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    {% include "head.html" %}
    {% endblock %}
  </head>

<body>
  <header class="site-header">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
</header>
    <div class="page-content">
      <div class="wrapper">
        {% block content %}
        {% endblock %}
        </div>
        </div>
        <footer>
        {% block footer %}
        {%include "footer.html" %}
        {% endblock %}
        </footer>
</body>
</html>
