{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}
    <h1>Categories on {{ SITENAME }}</h1>
        <div class="post-category">     
            {% for category, articles in categories|sort %}
                <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>({{ articles|count }})
    {% endfor %}
        </div>
{% endblock %}
