<address id="about" class="vcard body">
    {{ FOOTER_TEXT }}
    <div class="right"><a href="{{ SITEURL }}/blog/categories.html">Categories</a></div>
    <div class="right"><a href="{{ SITEURL }}/blog/tags.html">Tags</a></div>
    <div class="right"><a href="{{ SITEURL }}/blog/archives.html">Archives</a></div>
</address><!-- /#about -->

