{% extends "base.html" %}
{% block content %}
<section id="content">
<div class="header-bar">
{% block content_title %}
  <h1>{{ BLOG_NAME }}</h1>
<h2>{{ BLOG_DESCRIPTION }}</h2>
<div class="header-bar">
{% endblock %}


<ul class="post-list">
{% for article in articles_page.object_list %}
    {% if not article.inline %}
        <li><article class="hentry">
                {% include "post_meta.html" %}
                <div class="post-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </li>
        {% endif %}
{% endfor %}
</ul><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
