<div class="news">
  <h2>news</h2>
    <table>
    {% for article in articles | selectattr("category", "==", "news") |sort(attribute="date", reverse=True)| batch(3)| first %}
      <tr>
        <td class="date">{{ article.locale_date }}</td>
        <td class="announcement">
          {% if article.inline %}
            {{ article.title }}
          {% else %}
            <a class="news-title" href="{{ article.url  }}">{{ article.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
</div>
