{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="post">
  <header class="post-header">
    {% block page_header %}
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.description %}
        <h5 class=post-description>{{page.description}}</h5>
      {% endif %}
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(page) }}
    {% endblock %}
  </header>
    <article class="post-content {{page.title}} clearfix">

      {% block page_content %}
        {{ page.content }}
      {% endblock %}
    </article>
      {% block page_footer %}
        <div class="col three caption">
        Last updated: {{ page.locale_modified }}
        </div>
      {% endblock %}
      {% if page.news %}
        {% include "news.html" %}
      {% endif %}
    {% if page.social %}
      {% include "social.html" %}
    {% endif %}
  </div>
{% endblock %}