{% if DEFAULT_PAGINATION %}
<div class="pagination clearfix mb1 mt4">
    <div class="left">
        {% if articles_page.has_previous() %}
            <a class="pagination-item" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer</a>
        {% else %}
            <a class="pagination-item disabled" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Newer</a>
        {% endif %}
    </div>
    <div class="right">
    {% if articles_page.has_next() %}
        <a class="pagination-item" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older</a>
        {% else %}
        <a class="pagination-item disabled" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older</a>
    {% endif %}
    </div>
    <div class="pagination-meta">
        Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}
    </div>
</p>
{% endif %}
