<h2 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
</h2>
<p class="post-meta">
    <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </time>
    {% if article.modified %}
        <time class="modified" datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}
        </time>
    {% endif %}
    {% if DISPLAY_AUTHORS %}
        {% if article.authors %}
            <address class="vcard author">
                By {% for author in article.authors %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
            </address>
        {% endif %}
    {% endif %}
    <p class="post-meta">
    {% if article.category %}
        <span class="post-category">
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </span>
    {% endif %}
    {% if article.tags %}
        <span class="post-tags">
            Tags:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> 
        {% endfor %}
        </span>
    {% endif %}
    </p>
</p>