<div class="social">
  <span class="contacticon center">
    {% for name, id in SOCIAL %}
    {% if name == "email" %} <a href="mailto:{{ id  }}"><i class="fas fa-envelope"></i></a>{% endif %}
    {% if name == "orcid_id" %}<a href="https://orcid.org/{{ id }}" target="_blank" title="ORCID"><i class="ai ai-orcid"></i></a>{% endif %}
    {% if name == "scholar_id" %}<a href="https://scholar.google.com/citations?user={{ id }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>{% endif %}
    {% if name == "publons_id" %}<a href="https://publons.com/a/{{ id }}/" target="_blank" title="Publons"><i class="ai ai-publons"></i></a>{% endif %}
    {% if name == "research_gate_profile" %}<a href="https://www.researchgate.net/profile/{{ id }}/" target="_blank" title="ResearchGate"><i class="ai ai-researchgate"></i></a>{% endif %}
    {% if name == "github_username" %}<a href="https://github.com/{{ id }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
    {% if name == "linkedin_username" %}<a href="https://www.linkedin.com/in/{{ id }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>{% endif %}
    {% if name == "twitter_username" %}<a href="https://twitter.com/{{ id }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>{% endif %}
    {% if name == "strava_userid" %}<a href="https://www.strava.com/athletes/{{ id }}" target="_blank" title="Strava"><i class="fab fa-strava"></i></a>{% endif %}
    {% if name == "medium_username" %}<a href="https://medium.com/@{{ id }}" target="_blank" title="Medium"><i class="fab fa-medium"></i></a>{% endif %}
    {% if name == "quora_username" %}<a href="https://www.quora.com/profile/{{ id }}" target="_blank" title="Quora"><i class="fab fa-quora"></i></a>{% endif %}
    {% if name == "blogger_url" %}<a href="{{ id }}" target="_blank" title="Blogger"><i class="fab fa-blogger-b"></i></a>{% endif %}
    {% endfor %}
  </span>

  <div class="col three caption">
    {{ CONTACT_NOTE }}
  </div>
</div>
