{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} tag{% endblock %}

{% block content_title %}
<h2>Articles tagged with <span class="theme-color">{{ tag }}</span></h2>
{% endblock %}
