{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    <h1>Tags for {{ SITENAME }}</h1>
    <div class="post-tags">
        {% for tag, articles in tags|sort %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>({{ articles|count }})</li>
        {% endfor %}
    </div>
{% endblock %}
